

.defaultButtonStyle {
  background-color: #007bff;
  color: white;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.buttonPrimary {

}

.buttonSecondary {

}

.buttonUpdate {
  padding: 0.6rem 1.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.buttonDelete {

}

.buttonBack {

}