.app-shell {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: row;
}

html, body {
    background-color: #fefcff;
    height: 100%;
    margin:0;
    font-family: "Roboto", sans-serif;

}

.bg-light-dark {
    background-color: #2B3035;
}

#root {
    min-height: 100vh;
}

.container {
    flex: 1;
}

.footer {
    padding: 1rem 0;
}