.navbar {
    display: flex;
    align-items: flex-start;
    padding: 60px 100px;
    max-height: 120px;
}

.navbar-navigation {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}
